.new-movies {
  padding: 40px 20px;
  background: #2e2e2e;
  border-radius: 5px;
  position: relative;

  .movie-list {
    flex-wrap: wrap;
    display: flex;
    padding: 0px 5px;
    gap: 10px;
    justify-content: center;
  }
  .movie-list-see-all {
    align-content: center;
    text-align: center;
    margin: 20px;

    .view_all_movies {
      color: #fff;
      text-decoration: none;
      box-shadow: 2px 2px 5px 2px inset #2e2e2e;
      border: none;
      padding: 20px;
      background: linear-gradient(45deg, #393939, #000000);
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }

  .movie_item {
    /* margin-left: 15px; */
    margin-bottom: 20px;
    width: 300px;
    flex: 0 0 calc(100% / 6);
    /* 23% để có khoảng cách với gap */
    max-width: 45%;
    /* Đảm bảo không vượt quá 23% */
  }

  @media (max-width: 2000px) {
    .movie_item {
      flex: 1 1 calc(100% / 5);
      /* 2 item mỗi hàng cho màn hình nhỏ */
    }
  }

  @media (max-width: 1600px) {
    .movie_item {
      flex: 1 1 calc(100% / 8);
      /* 2 item mỗi hàng cho màn hình nhỏ */
    }
  }

  @media (max-width: 1400px) {
    .movie_item {
      flex: 1 1 calc(100% / 7);
      /* 2 item mỗi hàng cho màn hình nhỏ */
    }
  }

  @media (max-width: 1200px) {
    .movie_item {
      flex: 1 1 calc(100% / 6);
      /* 2 item mỗi hàng cho màn hình nhỏ */
    }
  }

  @media (max-width: 1000px) {
    .movie_item {
      flex: 1 1 calc(100% / 5);
      /* 2 item mỗi hàng cho màn hình nhỏ */
    }
  }

  @media (max-width: 800px) {
    .movie_item {
      flex: 1 1 calc(100% / 4);
      /* 2 item mỗi hàng cho màn hình nhỏ */
    }
  }

  @media (max-width: 600px) {
    .movie_item {
      flex: 1 1 calc(100% / 3);
      /* 1 item mỗi hàng cho màn hình rất nhỏ */
    }
  }

  @media (max-width: 400px) {
    .movie_item {
      flex: 1 1 calc(100% / 2);
      /* 1 item mỗi hàng cho màn hình rất nhỏ */
    }
  }
  h2 {
    color: #fff;
    margin-bottom: 20px;
  }

  .movie-card .movie-info {
    padding: 10px;
    margin-left: 15px;
  }

  .movie-card .movie-info h3 {
    margin: 0;
  }
}
