.footer {

  background: #2e2e2e;
  color: white;
  padding: 20px;
  text-align: center;
}

.footer .movie-genres,
.footer .contact-info {
  flex: 1;
}

.profile-container {
  height: calc(100vh - 230px);
}

.footer h4 {
  margin-top: 0;
}

.footer .contact-info {
  text-align: left;
}

.footer .movie-genres {
  text-align: left;
}